@model SaveFiles.Models.Saveimg

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


@using (Html.BeginForm("UploadFiles", "UploadFile", FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Saveimg</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-10">

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImgPath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
            <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ImgPath, "", new { @type = "file", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.ImgPath, "", new { @class = "text-danger" })
                    </div>
                    <input type="file" name="UploadFile" multiple="multiple"></div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Home", "Index", "Home")
        <p>
            @Html.ActionLink("Back  to List Data", "List", "UploadFile")
        </p>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

   